$color-primary: yellow;
$color-secondary: black;

$base-spacing: 2px;

@mixin flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@mixin flexboxExtendable ($alignItems: center, $justifyContent: center) {
    display: flex;
    align-items: $alignItems;
    justify-content: $justifyContent;
}



@mixin backgroundProperties {
    background-image: url();
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


html {
    font-family: "Arial", "sans-serif";
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-primary;
    @include flexbox();

    svg {
        width: 10%;
        object-fit: cover;
    }

    ul {
        width: 50%;
        list-style: none;
        @include flexboxExtendable(center, space-evenly);

        li {
            width: 20%;

            a {
                padding: $base-spacing * 4 $base-spacing * 8;
                text-decoration: none;
                color: $color-secondary;

                &:hover {
                    background-color: $color-secondary;
                    color: $color-primary;
                }
            }
        }
    }
}

.container {
    width: 80%;
    margin: $base-spacing * 8 auto;
}

.row {
    @include flexbox();
    flex-wrap: wrap;
}
